/Slay-A-Dragon.opensdf
/Slay-A-Dragon.sdf
/Slay-A-Dragon.suo
/Slay-A-Dragon/Slay-A-Dragon.vcxproj.filters
/Slay-A-Dragon/Slay-A-Dragon.vcxproj.user
/ipch/slay-a-dragon-c363d0c0/slay-a-dragon-6a87999b.ipch
Release
/Debug
ipch
Debug
